<!--<p id="notice"><%#= notice %></p>-->
<br>
<div align="end" class="me-5">
<%= link_to 'New Topic', new_topic_path, class:"btn btn-outline-info" %>
</div>
<h1>Topics</h1>
<%#= @topics.count %>
<div class="topic">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.genre %></td>
        <td><%= link_to 'Show', topic, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <td><%= link_to 'Posts_list', topic_posts_path(topic), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="container d-flex justify-content-center">
<%== pagy_nav(@pagy)%>
</div>