<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @topic.genre %>
</p>

<!--<div class="topic_show">-->
<!--<h2><ins>Here are the Posts</ins></h2>-->
<!--</div>-->
<!--<div class="topic_inner_show">-->
<%# for post in @topic.posts %>
<!--    <ul>-->
<!--      <li><%#= post.description %></li>-->
<!--    </ul>-->
<%# end %>
<!--</div>-->

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Posts', topic_posts_path(@topic) %> |
<%= link_to 'Back', topics_path %>
