<div class="container d-flex justify-content-center">
<h2>Resend unlock instructions</h2>
</div>
<br>
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field container d-flex justify-content-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br>
  <div class="actions container d-flex justify-content-center">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
