<%= form_with(model: [@topic, post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field w-50 h-50 ms-2">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
<br>
  <div class="field w-50 h-50 ms-5">
    <%= form.label :topic_id %>
    <%= form.text_field :topic_id %>
  </div>
<br>
  <div class="field w-50 h-50 ms-5">
    <%= form.label :tags %>
    <%= form.text_field :tags, value: @post.tags.map(&:name).join(",") %>
  </div>

  <br>

  <%= form.file_field :image%>
  <br><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
