<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="post">
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Topic</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.description %></td>
        <td><%= post.topic.title %></td>
        <td><%= link_to 'Show Post', topic_post_path(@topic,post) %></td>
        <td><%= link_to 'Edit post', edit_topic_post_path(@topic, post) %></td>
        <td><%= button_to 'Destroy post', [@topic, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Post', new_topic_post_path(@topic) %> |
<%= link_to 'Back to Topic', [@topic] %>
