<div id="post-container">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Back to Topic', [@topic], class:"container d-flex justify-content-end" if @topic.present? %>
  <% if @posts.length > 0 %>

    <h1>Posts</h1>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Topic</th>
        <th>Average rating</th>
        <th>Comment count</th>
        <th>Post status</th>
        <th colspan="3">Action</th>
      </tr>
      </thead>

      <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title%></td>
          <td><%= post.description %></td>
          <td><%= post.topic.title %></td>
          <td><% if post.rating_average > 0 %>
               <%= post.rating_average %>
            <% else %>
              <p>No ratings available</p>
            <% end %>
          </td>
          <td><% if post.comment_count.present? %>
              <%= post.comment_count %>
            <% else %>
              <p>No comments available</p>
            <% end %>
          </td>
          <td>
            <% if post.user_ids.include?(current_user.id) %>
              <p>Read</p>
            <% else %>
              <p>Unread</p>
            <% end %>
          </td>
          <% if @topic.present? %>
            <td><%= link_to 'Show Post', topic_post_path(@topic,post),class: "btn btn-info" %></td>
            <td><%= link_to 'Edit post', edit_topic_post_path(@topic, post),class: "btn btn-success" %></td>
            <td><%= button_to 'Destroy post', [@topic, post], method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
          <% else %>
            <td><%= link_to 'Show Post', topic_post_path(post.topic, post),class: "btn btn-info" %></td>
            <td><%= link_to 'Edit post', edit_topic_post_path(post.topic, post),class: "btn btn-success" %></td>
            <td><%= button_to 'Destroy post', [post.topic, post], method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  <% else %>
    <p>No Posts available, you can also create the posts and view this page.</p>
  <% end %>

<% if @topic.present? %>
  <div id="form-container">
  </div>
  <div id="loading-spinner">
  </div>

  <button id="form-btn">New Post</button>
  <button id="cancel-btn">Cancel</button>
    <% end %>

<% if @topic.present? %>
  <br><br>
  <h1>Filtered Posts for <%= @topic.title %></h1>
  <%= form_tag(topic_posts_path(@topic), method: :get, id: "date-filter-form") do %>
    <label for="from_date">From Date:</label>
    <%= text_field_tag "from_date", nil, class: "datepicker" %>

    <label for="to_date">To Date:</label>
    <%= text_field_tag "to_date", nil, class: "datepicker" %>

    <%= submit_tag "Show Details" %>
  <% end %>
  <br>
  <ul>
    <% @filtered_posts.each do |post| %>
      <li><%= post.title %></li>
    <% end %>
  </ul>
  <% end %>

</div>

<% if @topic.present? %>
<script>
    let container = $("#post-container");
    let formContainer = $("#form-container");
    let formBtn = $("#form-btn");
    let cancelBtn = $("#cancel-btn");
    let loadingSpinner = $(".loading-spinner"); // Make sure this class matches your HTML
    let form = null;

    // formContainer.hide(); // Hide form container initially
    cancelBtn.hide();
    $(document).ready(function(){
        formBtn.click(function(){
            $.ajax({
                url: '<%= new_topic_post_path(@topic) %>',
                type: 'GET',
                dataType: 'script',
                success: function(data){
                    formBtn.hide();
                    cancelBtn.show();
                    form_set(); // Corrected function call
                }
            });
        });

        cancelBtn.click(function(){
            formBtn.show();
            formContainer.empty();
            cancelBtn.hide();
        });

        function form_set(){
            setTimeout(function (){
                form = $(".new_form");
                form.on("submit", function (){
                    loadingSpinner.show(); // Show loading spinner when form is submitted
                });
            }, 100);
        }
    });
</script>

<script>
    $(document).ready(function () {
        $(".datepicker").datepicker();
    });
</script>
<% end %>
