<p id="notice"><%= notice %></p>

<% if @posts.length > 0 %>

<h1>Posts</h1>
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Topic</th>
      <th>Average rating</th>
      <th>Comment count</th>
      <th>Post status</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.description %></td>
        <td><%= post.topic.title %></td>
        <td><% if post.ratings.any? %>
          <%= post.ratings.average(:value).round(1) %>
            <% else %>
            <p>No ratings available</p>
          <% end %>
        </td>
        <td><% if post.comments.any? %>
          <%= post.comments.count %>
            <% else %>
            <p>No comments available</p>
          <% end %>
        </td>
        <td>
          <% if post.user_ids.include?(current_user.id) %>
          <p>Read</p>
          <% else %>
          <p>Unread</p>
          <% end %>
        </td>
         <% if @topic.present? %>
        <td><%= link_to 'Show Post', topic_post_path(@topic,post),class: "btn btn-info" %></td>
        <td><%= link_to 'Edit post', edit_topic_post_path(@topic, post),class: "btn btn-success" %></td>
        <td><%= button_to 'Destroy post', [@topic, post], method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
          <% else %>
          <td><%= link_to 'Show Post', topic_post_path(post.topic, post),class: "btn btn-info" %></td>
          <td><%= link_to 'Edit post', edit_topic_post_path(post.topic, post),class: "btn btn-success" %></td>
          <td><%= button_to 'Destroy post', [post.topic, post], method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% else %>
   <p>No Posts available, you can also create the posts and view this page.</p>
<% end %>

<%= link_to 'New Post', new_topic_post_path(@topic)  if @topic.present? %> |
<%= link_to 'Back to Topic', [@topic] if @topic.present? %>
