<!DOCTYPE html>
<html>
  <head>
    <title>HelloRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
  <%= render 'layouts/header' %>

  <% if flash[:success].present? %>
    <p class="alert alert-success text-center auto-dismiss" role="alert"><%= flash[:success] %></p>
  <% elsif flash[:danger].present? %>
    <p class="alert alert-danger text-center auto-dismiss" role="alert"><%= flash[:danger] %></p>
  <% elsif flash[:update].present? %>
    <p class="alert alert-info text-center auto-dismiss" role="alert"><%= flash[:update] %></p>
  <% end %>


  <%= yield %>
  </body>
</html>
